<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CData.GoogleSheets" version="19.0.7285" targetFramework="net461" />
  <package id="Google.Apis" version="1.43.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.43.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.43.0" targetFramework="net461" />
  <package id="Google.Apis.Sheets.v4" version="1.43.0.1839" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="RestSharp" version="106.10.1" targetFramework="net461" />
</packages>